.clear {
  clear: both; }

.box {
  padding: 0;
  margin-bottom: 10px;
  height: 300px;
  box-sizing: border-box;
  width: 100%; }
  .box.b1 {
    background-color: #ff3333; }
  .box.b2 {
    background-color: #99ff65; }
  .box.b3 {
    background-color: #ffff00; }
  .box.b4 {
    background-color: lightblue; }
  .box.b5 {
    background-color: #ff950e; }
  .box.b6 {
    background-color: #9900ff; }
  .box.b7 {
    background-color: #66cc99; }
  .box.b8 {
    background-color: #996633; }

.box.b4 {
  position: relative;
  padding-right: 150px;
  height: 75px; }

.b4 input[type="text"] {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: lightblue; }

.b4 input[type="button"] {
  width: 150px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0; }

@media only screen and (min-width: 480px) {
  /* For tablets: */
  .first-column-wrapper-1, .second-column-wrapper-1 {
    float: left;
    box-sizing: border-box;
    width: 50%; }
  .first-column-wrapper-1 {
    padding-right: 5px; }
  .second-column-wrapper-1 {
    padding-left: 5px; }
  .third-column-wrapper-1 {
    box-sizing: border-box;
    clear: both; } }

@media only screen and (min-width: 768px) {
  .first-column-wrapper-2, .second-column-wrapper-2 {
    float: left;
    box-sizing: border-box;
    width: 50%; }
  .first-column-wrapper-2 {
    padding-right: 5px; }
  .second-column-wrapper-2 {
    padding-left: 5px; }
  .first-column-wrapper-1, .second-column-wrapper-1 {
    width: 33.33%; }
  .second-column-wrapper-1 {
    padding-right: 5px; }
  .third-column-wrapper-1 {
    clear: none;
    float: left;
    padding-left: 5px;
    width: 33.34%; }
  .b8 {
    clear: both; } }
